In [5]:
import pandas as pd
import numpy as np
import torch

In [9]:
df = pd.read_csv("../dataset/dataset.csv")
print("Total Samples:", len(df))
print("\nLabel Distribution:")
print(df["label"].value_counts())
df.head()

Total Samples: 80

Label Distribution:
label
SQLi                20
CommandInjection    20
Hardcoded           20
Safe                20
Name: count, dtype: int64

                                                code label
0  db.execute('SELECT * FROM users WHERE id=' + u...  SQLi
1  cursor.execute('SELECT name FROM items WHERE i...  SQLi
2  query = 'DELETE FROM logs WHERE level=' + leve...  SQLi
3  cmd = 'UPDATE users SET pass=' + pwd + ' WHERE...  SQLi
4  conn.execute('SELECT * FROM cards WHERE num=' ...  SQLi